{% extends "layout.html"%}

{% block css %}{% endblock css %}
<body itemscope>
        {% block main %}
    <main>
        <header class="stick">
            <div class="topbar">
                <div class="container">
                    <div class="topbar-register">
                        <a class="log-popup-btn" href="#" title="Login" itemprop="url">LOGIN</a> / <a class="sign-popup-btn" href="#" title="Register" itemprop="url">REGISTER</a>
                    </div> 
                     
                </div>                
            </div><!-- Topbar -->
            
        </header><!-- Header -->
        <section>
            <div class="center">
                <div style="background-image: url(static/images/steak.jpg);"  class="fixed-bg"></div>
                <div class="restaurant-searching text-center">
                    <div class="restaurant-searching-inner">
                        <h2 itemprop="headline"> Order Food Online From the  <span> Best Restaurants</span> in Iligan City</h2>
                        
                        <div class="funfacts">
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon1.png" alt="fact-icon1" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">137</span></strong>
                                            <h5>Restaurant</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon2.png" alt="fact-icon2" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">158</span></strong>
                                            <h5>People Served</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon3.png" alt="fact-icon3" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">659</span>K</strong>
                                            <h5>Happy Service</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                                <div class="col-md-3 col-sm-6 col-lg-3">
                                    <div class="fact-box">
                                        <i class="brd-rd50"><img src="static/images/resource/fact-icon4.png" alt="fact-icon4" itemprop="image"></i>
                                        <div class="fact-inner">
                                            <strong><span class="counter">235</span></strong>
                                            <h5>Regular users</h5>
                                        </div>
                                    </div><!-- Fact Box -->
                                </div>
                        </div><!-- Fun Facts -->
                    </div>
                    
                </div><!-- Restaurant Searching -->
            </div>
        </section>

        
        
        <footer>
            <div class="block top-padd80 bottom-padd80 dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="footer-data">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                            <h4 class="widget-title" itemprop="headline">INFORMATION</h4>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                            <h4 class="widget-title" itemprop="headline">CUSTOMER CARE</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">Returns</a></li>
                                                <li><a href="#" title="" itemprop="url">Shipping Info</a></li>
                                                <li><a href="#" title="" itemprop="url">Gift Cards</a></li>
                                                <li><a href="#" title="" itemprop="url">Size Guide</a></li>
                                                <li><a href="#" title="" itemprop="url">Money Back</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                            <h4 class="widget-title" itemprop="headline">GET IN TOUCH</h4>
                                            <ul>
                                               <li><i class="fa fa-map-marker"></i> Andres Bonifacio Ave, Iligan City, 9200 Lanao del Norte</li>
                                               <li><i class="fa fa-phone"></i> 1234567890</li>
                                               <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">hello@yourdomain.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Footer Data -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <div class="sign-popup text-center">
                <div class="sign-popup-wrapper brd-rd5">
                    <div class="sign-popup-inner brd-rd5">
                        <a class="sign-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                        <div class="sign-popup-title text-center">
                            <h4 itemprop="headline">SIGN UP AS:</h4>
                           
                        </div>
                        <form class="sign-form" method = "POST" action ="/register">
                            <labels class="containerRS">Owner
                                <input name ="owner_type" value="owner"type="radio" checked="checked">
                                <span class="checkmarkS"></span>
                            </labels>

                            <labels class="containerYS">Customer
                                <input name = "owner_type" value ="Customer" type="radio">
                                <span class="checkmarkYS"></span>
                            </labels>


                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="text" placeholder="First Name "name="firstname">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="text" placeholder="Last Name "name="lastname">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                 <input class="brd-rd3" type="text" placeholder="Gender "name="gender">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="text" placeholder="Contact Number"name="contact_number">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="text" placeholder="Username" name="username">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="email" placeholder="Email" name="email">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="password" placeholder="Password"name="password">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <button class="red-bg brd-rd3" type="submit">REGISTER NOW</button>
                                </div>
                                
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        <div class="log-popup text-center">
            <div class="sign-popup-wrapper brd-rd5">
                <div class="sign-popup-inner brd-rd5">
                    <a class="log-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                    <div class="sign-popup-title text-center">
                        <h4 itemprop="headline">SIGN IN </h4>
  
                        <form class="sign-form" method ="post" action ="/login">

                                <label class="containerR">Owner
                                    <input name ="owner_type" value="owner"type="radio" checked="checked">
                                    <span class="checkmark"></span>
                                </label>

                                <label class="containerY">Customer
                                    <input name = "owner_type" value ="Customer" type="radio">
                                    <span class="checkmarkY"></span>
                                </label>

                                <div class="row">    

                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="text" placeholder="Username or Email" name="username">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <input class="brd-rd3" type="password" placeholder="Password" name ="password">
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <button class="red-bg brd-rd3" type="submit">SIGN IN</button>
                                </div>
                        
                            </div>
                        </form>
                      
                               
                        
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock main %}
    </main><!-- Main Wrapper -->

    {% block script %}{% endblock script %}
</body>	

