<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    {% if title %}
    <title>FoodHub - {{ title }}</title>
  {% else %}
    <title>FoodHub</title>
  {% endif %}

    <link rel="shortcut icon" href="static/images/logo.jpg" type="image/x-icon">
   
    

    <link rel="stylesheet" href="static/css/icons.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/red-color.css">
    <link rel="stylesheet" href="static/css/yellow-color.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    

	{% block css %}{% endblock css %}

</head>

<body id="page-top">

  <!-- Navigation -->
  <header class="stick">
    <div class="topbar">
        <div class="container">
            <div class="topbar-register">
                <a class="log-popup-btn" href="#" title="Login" itemprop="url">LOGIN</a> / <a class="sign-popup-btn" href="#" title="Register" itemprop="url">REGISTER</a>
            </div> 
             
        </div>                
    </div><!-- Topbar -->
</header><!-- Header -->
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages%}
      <div class="alert alert-{{ category }}" style="padding-top: 7rem; padding-bottom:1rem; margin-bottom: -2rem;">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <main>
      {% block main %}{% endblock main %}
    
  </main>
 

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
</body>	

</html>
